@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 1.0rem;
}

body {
    line-height: 1.4;
    color: #212529;
		font-family: 'Lora', 'Helvetica Neue', serif;
}

h1 {
	font-size: 1.25rem;
	margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, select {
		box-shadow: 0 0.0625rem 0.2rem #000;
		border: none;
		width: 100%;
		padding: 0.6rem;
		border-radius: 0.3rem;
		-webkit-border-radius: 0.3rem;
		-moz-border-radius: 0.3rem;
		-ms-border-radius: 0.3rem;
		-o-border-radius: 0.3rem;
		color: inherit;
		font: inherit;
		margin-bottom: 1.5rem;
}


input:focus, select:focus {
  outline: 0.125rem solid #591818;
}

input:focus:not(:focus-visible) , select:focus:not(:focus-visible) {
  outline: none;
}

button {
		cursor: pointer;
		padding: 0.8rem;
		background: #b33030;
		border: none;
		color: #ffffff;
		font: inherit;
		border-radius: 0.625rem;
		-webkit-border-radius: 0.625rem;
		-moz-border-radius: 0.625rem;
		-ms-border-radius: 0.625rem;
		-o-border-radius: 0.625rem;
		box-shadow: 0 0.4rem #591818;
}

button:hover {
    opacity: 0.75;
}

button:active {
	box-shadow: 0 0.1rem #591818;
	transform: translateY(0.25rem);
	-webkit-transform: translateY(0.25rem);
	-moz-transform: translateY(0.25rem);
	-ms-transform: translateY(0.25rem);
	-o-transform: translateY(0.25rem);
}

button:disabled {
    cursor: default;
    opacity: 0.5;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
		box-shadow: 0 0 1rem 0.0625rem #000;
		background: #ffffff;
		padding: 2.5rem;
		width: 20rem;
		border-radius: 0.625rem;
		-webkit-border-radius: 0.625rem;
		-moz-border-radius: 0.625rem;
		-ms-border-radius: 0.625rem;
		-o-border-radius: 0.625rem;
}

.centered-form button {
    width: 100%;
}

.centered-form__new-room {
    color: #212529;
}

#placeholder-select {
    display: none;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #212529;
    width: 14rem;
		overflow-y: auto;
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding:1.5rem 1.5rem 0 1.5rem;
    overflow-y: auto;
}

/* Message Styles */

.message {
    margin-bottom: 1rem;   
}

.message__own {
	text-align: right;
}

.message__name {
    font-weight: 600;
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.message__meta {
    font-size: 0.8rem;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 1rem;
    padding: 1.5rem;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 0.5rem;
}

.compose input {
	margin-bottom: 0;
	margin-right: 0.5rem;
}

.compose button {
    font-size: 0.9rem;
		padding: 0.6rem;
		box-shadow: 0 0.3rem #591818;
}

.compose button:active {
	box-shadow: 0 0.075rem #591818;
	transform: translateY(0.25rem);
	-webkit-transform: translateY(0.25rem);
	-moz-transform: translateY(0.25rem);
	-ms-transform: translateY(0.25rem);
	-o-transform: translateY(0.25rem);
}
/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 1.35rem;
    padding: 1.5rem;   
		color: #b33030;
}

.list-title {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
    padding: 0.75rem 1.5rem 0 1.5rem;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 0.75rem 1.5rem 0 1.5rem;
}